# Reformat data into a single `.dat` file

### open data

In [1]:
import pandas as pd

# gives the notebook access to the cluster_expansion personal library
from sys import path
path.append('/Users/prabh/200 RESEARCH/Cluster Expansion Project')
import cluster_expansion as ce

In [2]:
chrV = pd.read_csv('ChrVData/ChrVLibrary.txt', sep = '\t')
chrV.columns = chrV.columns.str.strip()
chrV = chrV.drop(columns=['Sequence #'])

chrV_free = pd.read_csv('ChrVData/ChrVReadcounts.txt', sep = '\t')
chrV_free.columns = chrV_free.columns.str.strip()

tiling = pd.read_csv('TilingData/tilingLibrary.txt', sep = '\t')
tiling.columns = tiling.columns.str.strip()
tiling = tiling.drop(columns=['Sequence #'])

tiling_free = pd.read_csv('TilingData/tilingReadcounts.txt', sep = '\t')
tiling_free.columns = tiling_free.columns.str.strip()

In [ ]:
display_on = True

def display_head(df, num_rows, on):
  if (on):
    display(df.head(num_rows))

display_head(df=chrV, num_rows=2, on=display_on)
display_head(df=chrV_free, num_rows=2, on=display_on)
display_head(df=tiling, num_rows=2, on=display_on)
display_head(df=tiling_free, num_rows=2, on=display_on)

,Sequence,C26,C29,C31,C0,Amplitude,Phase
0,CGTCTCCTCCAAGCCCTGTTGTCTCTTACCCGGATGTTCAACCAAA...,-0.205912,-0.781882,0.015182,-0.069223,-0.650093,0.211841
1,TCCAAGCCCTGTTGTCTCTTACCCGGATGTTCAACCAAAAGCTACT...,-0.388233,-0.563193,-1.083431,-0.688533,-0.350048,-2.110462

,Sequence,C0free,C26 count,C26 count sample,C29 count,C29 count sample,C31 count,C31 count sample
0,CGTCTCCTCCAAGCCCTGTTGTCTCTTACCCGGATGTTCAACCAAA...,-0.220847,14,9,26,8,17,14
1,TCCAAGCCCTGTTGTCTCTTACCCGGATGTTCAACCAAAAGCTACT...,-0.374313,38,14,48,22,49,24

,Sequence,C26,C29,C31,C0,Amplitude,Phase
0,GTGATCTTCTCTTGCTCATTGCATTTGGAACTGAGACAGAAGAATG...,-0.632139,-0.780557,-0.556275,-0.588446,-0.178446,0.247366
1,TCTCTTGCTCATTGCATTTGGAACTGAGACAGAAGAATGACGAGTT...,-0.102749,-0.507730,-1.046822,-0.499639,-0.407187,-1.796163

,Sequence,C0free,C26 count,C26 count sample,C29 count,C29 count sample,C31 count,C31 count sample
0,GTGATCTTCTCTTGCTCATTGCATTTGGAACTGAGACAGAAGAATG...,-0.565669,634,259,848,305,717,442
1,TCTCTTGCTCATTGCATTTGGAACTGAGACAGAAGAATGACGAGTT...,-0.580068,861,587,866,333,750,323

##### Rename Columns

In [4]:
chrV.rename(columns={
  'Cyclizability (n=26)':'C26',
  'Cyclizability (n=29)':'C29',
  'Cyclizability (n=31)':'C31'
}, inplace=True)

chrV_free.rename(columns={
  'C26 c_n':'C26 count',
  'C26 c_s':'C26 count sample',
  'C29 c_n':'C29 count',
  'C29 c_s':'C29 count sample',
  'C31 c_n':'C31 count',
  'C31 c_s':'C31 count sample',
}, inplace=True)

tiling.rename(columns={
  'Cyclizability (n=26)':'C26',
  'Cyclizability (n=29)':'C29',
  'Cyclizability (n=31)':'C31'
}, inplace=True)

tiling_free.rename(columns={
  'C26 c_n':'C26 count',
  'C26 c_s':'C26 count sample',
  'C29 c_n':'C29 count',
  'C29 c_s':'C29 count sample',
  'C31 c_n':'C31 count',
  'C31 c_s':'C31 count sample',
}, inplace=True)

if display_head:
  display(chrV.head(2))
  display(chrV_free.head(2))
  print('\n')
  display(tiling.head(2))
  display(tiling_free.head(2))

,Sequence,C26,C29,C31,C0,Amplitude,Phase
0,TTTCTTCACTTATCTCCCACCGTCCCGTCTCCTCCAAGCCCTGTTG...,-0.205912,-0.781882,0.015182,-0.069223,-0.650093,0.211841
1,TTTCTTCACTTATCTCCCACCGTCCTCCAAGCCCTGTTGTCTCTTA...,-0.388233,-0.563193,-1.083431,-0.688533,-0.350048,-2.110462

,Sequence,C0free,C26 count,C26 count sample,C29 count,C29 count sample,C31 count,C31 count sample
0,CGTCTCCTCCAAGCCCTGTTGTCTCTTACCCGGATGTTCAACCAAA...,-0.220847,14,9,26,8,17,14
1,TCCAAGCCCTGTTGTCTCTTACCCGGATGTTCAACCAAAAGCTACT...,-0.374313,38,14,48,22,49,24

,Sequence,C26,C29,C31,C0,Amplitude,Phase
0,TTTCTTCACTTATCTCCCACCGTCCGTGATCTTCTCTTGCTCATTG...,-0.632139,-0.780557,-0.556275,-0.588446,-0.178446,0.247366
1,TTTCTTCACTTATCTCCCACCGTCCTCTCTTGCTCATTGCATTTGG...,-0.102749,-0.507730,-1.046822,-0.499639,-0.407187,-1.796163

,Sequence,C0free,C26 count,C26 count sample,C29 count,C29 count sample,C31 count,C31 count sample
0,GTGATCTTCTCTTGCTCATTGCATTTGGAACTGAGACAGAAGAATG...,-0.565669,634,259,848,305,717,442
1,TCTCTTGCTCATTGCATTTGGAACTGAGACAGAAGAATGACGAGTT...,-0.580068,861,587,866,333,750,323

### Trim sequences

In [5]:
# Before
def check_length(df):
  try:
    bool_mask = df['Sequence'].apply(lambda s: isinstance(s, str) and len(s) == 50)
    if (~bool_mask).any():
      display(df.loc[~bool_mask].head())
    return bool_mask.all()
  except Exception as e:
    print("Malformed dataframe", e)

print(f"chrV Sequences length 50: {check_length(chrV)}")
print(f"tiling Sequences length 50: {check_length(tiling)}")

,Sequence,C26,C29,C31,C0,Amplitude,Phase
0,TTTCTTCACTTATCTCCCACCGTCCCGTCTCCTCCAAGCCCTGTTG...,-0.205912,-0.781882,0.015182,-0.069223,-0.650093,0.211841
1,TTTCTTCACTTATCTCCCACCGTCCTCCAAGCCCTGTTGTCTCTTA...,-0.388233,-0.563193,-1.083431,-0.688533,-0.350048,-2.110462
2,TTTCTTCACTTATCTCCCACCGTCCCCTGTTGTCTCTTACCCGGAT...,-0.947849,0.065416,0.277546,-0.464485,0.584360,-0.974048
3,TTTCTTCACTTATCTCCCACCGTCCTCTCTTACCCGGATGTTCAAC...,0.702216,0.541498,-0.031338,0.383790,0.382364,0.984116
4,TTTCTTCACTTATCTCCCACCGTCCCCCGGATGTTCAACCAAAAGC...,0.587374,-0.069926,-0.544434,0.122761,-0.467108,-1.467391

chrV Sequences length 50: False

,Sequence,C26,C29,C31,C0,Amplitude,Phase
0,TTTCTTCACTTATCTCCCACCGTCCGTGATCTTCTCTTGCTCATTG...,-0.632139,-0.780557,-0.556275,-0.588446,-0.178446,0.247366
1,TTTCTTCACTTATCTCCCACCGTCCTCTCTTGCTCATTGCATTTGG...,-0.102749,-0.507730,-1.046822,-0.499639,-0.407187,-1.796163
2,TTTCTTCACTTATCTCCCACCGTCCCTCATTGCATTTGGAACTGAG...,-0.437719,-0.684819,-0.244482,-0.334965,-0.336848,0.309987
3,TTTCTTCACTTATCTCCCACCGTCCCATTTGGAACTGAGACAGAAG...,-1.121353,0.130155,0.582101,-0.439175,0.750424,-1.141014
4,TTTCTTCACTTATCTCCCACCGTCCAACTGAGACAGAAGAATGACG...,0.152258,0.257966,-0.524573,-0.158107,0.528598,0.627531

tiling Sequences length 50: False

In [6]:
chrV['Sequence'] = chrV['Sequence'].apply(ce.trim)
tiling['Sequence'] = tiling['Sequence'].apply(ce.trim)

# After
print(f"chrV Sequences length 50: {check_length(chrV)}")
print(f"tiling Sequences length 50: {check_length(tiling)}")

chrV Sequences length 50: True
tiling Sequences length 50: True

### Remove digesion motifs

##### Count total digestion motifs

In [7]:
def countMotifs(df):
  try:
    numMotifs = 0
    numMotifs += df['Sequence'].str.contains('GAAGAGC').sum()
    numMotifs += df['Sequence'].str.contains('GCTCTTC').sum()
    return numMotifs
  except Exception as e:
    print('Malformed dataframe', e)
    return 0

In [8]:
# Count digesion motifs
print(f'# chrV digestion motifs: {countMotifs(chrV)}')

# checking for digestion motifs in the tiling Data
print(f'# tiling digestion motifs: {countMotifs(tiling)}')

# chrV digestion motifs: 745
# tiling digestion motifs: 567

##### Remove digestion motifs

In [9]:
# remove all digestion motifs from the ChrVData
chrV = chrV[~chrV['Sequence'].str.contains('GAAGAGC|GCTCTTC')].reset_index(drop=True)
tiling = tiling[~tiling['Sequence'].str.contains('GAAGAGC|GCTCTTC')].reset_index(drop=True)

# Count digesion motifs
print(f'# chrV digestion motifs: {countMotifs(chrV)}')

# checking for digestion motifs in the tiling Data
print(f'# tiling digestion motifs: {countMotifs(tiling)}')

# chrV digestion motifs: 0
# tiling digestion motifs: 0

##### Check that sequences arrays are now equal

In [10]:
chrV_isequal = chrV['Sequence'] == chrV_free['Sequence']
tiling_isequal = tiling['Sequence'] == tiling_free['Sequence']

print(f'chrV sequences are equal: {all(chrV_isequal)}')
print(f'tiling sequences are equal: {all(tiling_isequal)}')

chrV sequences are equal: True
tiling sequences are equal: True

### Drop duplicate sequences

In [11]:
def count_duplicates(df):
  try:
    original_count = len(df)
    unique_count = df['Sequence'].nunique()
    duplicates = original_count - unique_count
    return duplicates
  except Exception as e:
    print("Malformed dataframe", e)
    return 0

print(f'# duplicates in chrV: {count_duplicates(chrV)}')
print(f'# duplicates in chrV_free: {count_duplicates(chrV_free)}')

print(f'# duplicates in tiling: {count_duplicates(tiling)}')
print(f'# duplicates in tilint_free: {count_duplicates(tiling_free)}')

# duplicates in chrV: 56
# duplicates in chrV_free: 56
# duplicates in tiling: 55
# duplicates in tilint_free: 55

In [12]:
chrV = chrV.drop_duplicates(subset='Sequence', keep='first').reset_index(drop=True)
chrV_free = chrV_free.drop_duplicates(subset='Sequence', keep='first').reset_index(drop=True)

tiling = tiling.drop_duplicates(subset='Sequence', keep='first').reset_index(drop=True)
tiling_free = tiling_free.drop_duplicates(subset='Sequence', keep='first').reset_index(drop=True)

print(f'# duplicates in chrV: {count_duplicates(chrV)}')
print(f'# duplicates in chrV_free: {count_duplicates(chrV_free)}')

print(f'# duplicates in tiling: {count_duplicates(tiling)}')
print(f'# duplicates in tilint_free: {count_duplicates(tiling_free)}')

chrV_isequal = chrV['Sequence'] == chrV_free['Sequence']
tiling_isequal = tiling['Sequence'] == tiling_free['Sequence']

print(f'chrV sequences are equal: {all(chrV_isequal)}')
print(f'tiling sequences are equal: {all(tiling_isequal)}')

# duplicates in chrV: 0
# duplicates in chrV_free: 0
# duplicates in tiling: 0
# duplicates in tilint_free: 0
chrV sequences are equal: True
tiling sequences are equal: True

In [14]:
display_head(df=chrV, num_rows=2, on=display_on)
display_head(df=chrV_free, num_rows=2, on=display_on)
display_head(df=tiling, num_rows=2, on=display_on)
display_head(df=tiling_free, num_rows=2, on=display_on)

,Sequence,C26,C29,C31,C0,Amplitude,Phase
0,CGTCTCCTCCAAGCCCTGTTGTCTCTTACCCGGATGTTCAACCAAA...,-0.205912,-0.781882,0.015182,-0.069223,-0.650093,0.211841
1,TCCAAGCCCTGTTGTCTCTTACCCGGATGTTCAACCAAAAGCTACT...,-0.388233,-0.563193,-1.083431,-0.688533,-0.350048,-2.110462

,Sequence,C0free,C26 count,C26 count sample,C29 count,C29 count sample,C31 count,C31 count sample
0,CGTCTCCTCCAAGCCCTGTTGTCTCTTACCCGGATGTTCAACCAAA...,-0.220847,14,9,26,8,17,14
1,TCCAAGCCCTGTTGTCTCTTACCCGGATGTTCAACCAAAAGCTACT...,-0.374313,38,14,48,22,49,24

,Sequence,C26,C29,C31,C0,Amplitude,Phase
0,GTGATCTTCTCTTGCTCATTGCATTTGGAACTGAGACAGAAGAATG...,-0.632139,-0.780557,-0.556275,-0.588446,-0.178446,0.247366
1,TCTCTTGCTCATTGCATTTGGAACTGAGACAGAAGAATGACGAGTT...,-0.102749,-0.507730,-1.046822,-0.499639,-0.407187,-1.796163

,Sequence,C0free,C26 count,C26 count sample,C29 count,C29 count sample,C31 count,C31 count sample
0,GTGATCTTCTCTTGCTCATTGCATTTGGAACTGAGACAGAAGAATG...,-0.565669,634,259,848,305,717,442
1,TCTCTTGCTCATTGCATTTGGAACTGAGACAGAAGAATGACGAGTT...,-0.580068,861,587,866,333,750,323

### Merge dataframes

In [19]:
chrV_merged = chrV.merge(chrV_free, on = 'Sequence', how = 'left', suffixes = ('', '_rc')).reset_index(drop=True)
tiling_merged = tiling.merge(tiling_free, on = 'Sequence', how = 'left', suffixes = ('', '_rc')).reset_index(drop=True)
display_head(chrV_merged, num_rows=2, on=display_on)
display_head(tiling_merged, num_rows=2, on=display_on)

,Sequence,C26,C29,C31,C0,Amplitude,Phase,C0free,C26 count,C26 count sample,C29 count,C29 count sample,C31 count,C31 count sample
0,CGTCTCCTCCAAGCCCTGTTGTCTCTTACCCGGATGTTCAACCAAA...,-0.205912,-0.781882,0.015182,-0.069223,-0.650093,0.211841,-0.220847,14,9,26,8,17,14
1,TCCAAGCCCTGTTGTCTCTTACCCGGATGTTCAACCAAAAGCTACT...,-0.388233,-0.563193,-1.083431,-0.688533,-0.350048,-2.110462,-0.374313,38,14,48,22,49,24

,Sequence,C26,C29,C31,C0,Amplitude,Phase,C0free,C26 count,C26 count sample,C29 count,C29 count sample,C31 count,C31 count sample
0,GTGATCTTCTCTTGCTCATTGCATTTGGAACTGAGACAGAAGAATG...,-0.632139,-0.780557,-0.556275,-0.588446,-0.178446,0.247366,-0.565669,634,259,848,305,717,442
1,TCTCTTGCTCATTGCATTTGGAACTGAGACAGAAGAATGACGAGTT...,-0.102749,-0.507730,-1.046822,-0.499639,-0.407187,-1.796163,-0.580068,861,587,866,333,750,323

##### Reorder dataframe

In [21]:
ordering = [
  'Sequence',
  'C0free',
  'C0',
  'C26', 'C26 count', 'C26 count sample',
  'C29', 'C29 count', 'C29 count sample',
  'C31', 'C31 count', 'C31 count sample',
  'Amplitude', 'Phase'
]

try:
  chrV_merged = chrV_merged[ordering]
  tiling_merged = tiling_merged[ordering]
except Exception as e:
  print('Failed to reorder columns', e)

In [24]:
display_head(df=chrV_merged, num_rows=2, on=display_on)
print(len(chrV_merged))
display_head(df=tiling_merged, num_rows=2, on=display_on)
print(len(tiling_merged))

,Sequence,C0free,C0,C26,C26 count,C26 count sample,C29,C29 count,C29 count sample,C31,C31 count,C31 count sample,Amplitude,Phase
0,CGTCTCCTCCAAGCCCTGTTGTCTCTTACCCGGATGTTCAACCAAA...,-0.220847,-0.069223,-0.205912,14,9,-0.781882,26,8,0.015182,17,14,-0.650093,0.211841
1,TCCAAGCCCTGTTGTCTCTTACCCGGATGTTCAACCAAAAGCTACT...,-0.374313,-0.688533,-0.388233,38,14,-0.563193,48,22,-1.083431,49,24,-0.350048,-2.110462

81603

,Sequence,C0free,C0,C26,C26 count,C26 count sample,C29,C29 count,C29 count sample,C31,C31 count,C31 count sample,Amplitude,Phase
0,GTGATCTTCTCTTGCTCATTGCATTTGGAACTGAGACAGAAGAATG...,-0.565669,-0.588446,-0.632139,634,259,-0.780557,848,305,-0.556275,717,442,-0.178446,0.247366
1,TCTCTTGCTCATTGCATTTGGAACTGAGACAGAAGAATGACGAGTT...,-0.580068,-0.499639,-0.102749,861,587,-0.507730,866,333,-1.046822,750,323,-0.407187,-1.796163

81746

### Save to a `.dat` file

In [28]:
save = False
if save:
  chrV_merged.to_csv('ChrV.dat', sep = '\t', index=False)
  tiling_merged.to_csv('Tiling.dat', sep = '\t', index=False)